@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* resets */
:root {
    --inline-padding: 10px;
    --bg-red: #e84949;
}

html{
    scroll-behavior: smooth;
}

body {
    /* font-size: 1.2rem; */
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #000000a9;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* utility classes */

.container {
    max-width: 1180px;
    margin: auto;
    padding: var(--inline-padding);
}

.flex {
    display: flex;
    align-items: center;
}

.red-btn {
    padding: 15px 40px;
    border: 3px solid var(--bg-red);
    background-color: white;
    color: white;
    position: relative;
    z-index: 1;
    box-shadow: 4px 4px 10px rgba(51, 51, 51, 0.514);
    transition: color 0.8s;
}

.red-btn::before {
    content: '';
    background-color: var(--bg-red);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform-origin: right;
    transition: transform 0.8s;
}

.red-btn:hover {
    color: black;
}

.red-btn:hover::before {
    transform: scaleX(0);
}

.bottom-gap {
    margin-bottom: 15px;
}



/* header */

header {
    padding: 10px var(--inline-padding) 0;
}

.header-container {
    justify-content: space-between;
    padding: 0 70px 0 15px;
}

.name {
    width: 210px;
    position: relative;
}

.name img {
    width: 80px;
}

.name p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-44%, -50%);
    font-size: 1.6rem;
    font-weight: 500;
}

.nav-links ul {
    gap: 30px;
}

.hover-link {
    color: #000000;
    opacity: 70%;
    font-size: 1.3rem;
    transition: opacity 0.2s;
}

.hover-link:hover{
    opacity: 100%;
}


/* hero section */
/* hero section text */
.hero-section {
    padding: 50px var(--inline-padding) 0;
}

.hero-section-container {
    justify-content: space-between;
}


.role{
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-text {
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
    width: 35vw;
    text-align: center;
}

.hero-section-text>p:nth-child(1) {
    font-size: 2.2rem;
    color: #343d68;
    font-weight: 300;
}


.hero-section-text>p:nth-child(2) {
    font-size: 2.8rem;
    color: #343d68;
}



.hero-section-text>p:nth-child(3) {
    font-size: 1rem;
}

/* hero section image */

.hero-section-image {
    position: relative;
}

.hero-section-image img:not(.icons) {
    padding: 40px;
    justify-content: center;
    transform: all 0.8s;
    animation: Zoom-in-out 2.5s infinite linear alternate;
}

.hero-section-image .icons {
    position: absolute;
    z-index: 1;
}

.hero-section-image .icons:nth-child(1) {
    bottom: 0;
    right: 0;
    animation: up-down 4s infinite ease;
}

.hero-section-image .icons:nth-child(2) {
    top: -5px;
    right: 25px;
    animation: cube-rotate 4s infinite ease;
}

.hero-section-image .icons:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: circle 2.5s infinite linear alternate;
}

.hero-section-image .icons:nth-child(4) {
    top: 0;
    left: 0;
    animation: right-left 4s infinite ease;
}

.hero-section-image .icons:nth-child(5) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: up-down 4s infinite ease;
}

/* icons animation */

@keyframes Zoom-in-out {
    from {
        scale: 1;
        filter: grayscale(100%);
    }

    to {
        scale: 0.85;
        box-shadow: 5px 5px 10px #333;
    }
}

@keyframes cube-rotate {
    0% {
        transform: rotateY(0deg) translateY(-20%);
    }

    50% {
        transform: rotateY(180deg) translateY(20%);
    }

    100% {
        transform: rotateY(360deg) translateY(-20%);
    }
}

@keyframes circle {

    from {
        transform: translate(100%, -100%);
    }

    to {
        bottom: 0;
        left: 0;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }

}

@keyframes right-left {
    0% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(10%);
    }

    100% {
        transform: translateX(-10%);
    }

}

/* projects section container*/

.projects-section {
    margin: 100px 0 0 0;
    background-color: #e7e7e7;
    padding-bottom: 50px;
}

h1 {
    text-align: center;
    font-size: 5rem;
    color: var(--bg-red);
    padding: 30px 0;
}

.projects-section-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 120px;
}

.project-card {
    width: 1000px;
    height: 500px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.836);
}

/* projects section 1,2 etc */

.project-section-2,
.project-section-4 {
    justify-self: right;
}

.project-section-1::after {
    content: "";
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/asset\ 29.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

.project-section-2::after {
    content: "";
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/asset\ 30.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

.project-section-3::after {
    content: "";
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/asset\ 31.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}

.project-section-4::after {
    content: "";
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/asset\ 32.png);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
}



/* hover effect on project */

.project-card {
    position: relative;
}

.project-card::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transition: transform 0.4s;
}

.project-card:hover::before {
    transform: scaleX(1);
}

.project-no {
    font-size: 11rem;
    color: white;
    position: absolute;
    opacity: 0;
    z-index: 3;
}

.project-card:hover .project-no {
    opacity: 1;
}

.project-section-1 .project-no,
.project-section-3 .project-no {
    right: -5%;
    top: -10%;
}

.project-section-2 .project-no,
.project-section-4 .project-no {
    top: 0;
    left: 0;
    transform: translate(-15%, -25%);
}

/* project content */


.project-content {
    color: white;
    margin-left: 150px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    z-index: 2;
}

.project-content-images {
    flex-wrap: wrap;
    gap: 10px;
}

.project-content-images>* {
    height: 40px;
}

.project-content h2 {
    font-size: 3rem;
    font-weight: 500;
}

.project-content p {
    font-size: 1rem;
    font-style: italic;
}

.links {
    gap: 15px;
}

.links .red-btn {
    border: 0;
    padding: 15px 35px;
}

.hover-red {
    /* height: 100%; */
    color: white;
    transition: color 0.2s;
}

.hover-red:hover {
    color: var(--bg-red);
}

/* scaling hover effect on project-content */

.project-content{
    transition: transform 0.4s;
}

.project-card:hover .project-content{
    transform: scale(1.1);
}

/* project content postioning and directions */

.project-content-1 .project-content-images{
    width: 60%;
}

.project-content-1 p{
    width: 70%;
}

.project-content-2{
    margin-left: 400px;
}

.project-content-2 .project-content-images,.project-content-2 p{
    width: 65%;
}

.project-content-3 p{
    width: 70%;
}

.project-section-4{
    justify-content: flex-end;
}

.project-content p{
    width: 65%;
}

/* skills section */

.skills-section{
    padding: 200px var(--inline-padding) 200px;
}

.skills-section-container{
    justify-content: space-between;
}


.skills-heading{
    color: var(--bg-red);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 30px;
}

.skills-heading::first-letter{
    font-size: 5rem;
}

.skills-desc{
    font-size: 1rem;
    font-weight: 400;
    width: 85%;
    text-align: justify;
}

.skills-image{
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-auto-rows: 100px;
    gap: 20px;
    padding-top: 25px;
    position: relative;
}

.skill-icon{
    width: 90px;
    justify-self: center;
    align-self: center;
    z-index: 1;
    transition: transform 0.4s ease;
}

.skill-icon:hover{
    transform: scale(1.2);
}

.bg-zig-zag{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: zig-zag 3s infinite linear;
}

@keyframes zig-zag {
    0%{
        transform: translate(-40%,-60%);
    }
    50%{
        transform: translate(-50%,-50%);
    }
    100%{
        transform: translate(-40%,-60%);
    }
    
}

/* conatct form */

.contact-form{
    padding: 20px var(--inline-padding) 20px;
    background-color: #e7e7e7;
}

.contact-heading{
    font-size: 5rem;
    color: var(--bg-red);
    font-weight: 500;
}

.contact-sub-heading{
    font-size: 3rem;
    color: #343d68;
    opacity: 66.7%;
    font-weight: 500;
}

form{
    margin-left: 200px;
    margin-top: 50px;
}

form p{
    margin-block: 20px;
}

form p input,form p textarea{
    width: 900px;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 10px #333;
    font-size: 1.2rem;
    font-weight: 200;
}


form .red-btn{
    margin-top: 30px;
    padding-inline: 50px;
    font-size: 1.4rem;
    font-weight: 100;
    border: 0;
    transition: scale 0.4s;
}

form .red-btn:hover{
    scale: 0.9;
}

.fa-paper-plane{
    margin-left: 8px;
}

/* footer */

footer{
    padding: 80px 40px;
    background-color: #343d68;
}

.footer-container{
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-links{
    font-size: 1.2rem   ;
    gap: 15px;
    font-weight: 300;
}

.social-media-links{
    gap: 15px;
}
